<style>
    .table-cont{
        padding: 20px;
    }
</style>
<section class="content-header">
    <h1>发行领用</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> 发行管理</a></li>
        <li class="active">{{title}}</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <!-- 申请-->
        <div class="tab-pane clearfix" id="resetPwd" style="padding-top: 50px;">
            <div class="col-md-3 form-group " >
                <div class="col-md-4" style="text-align: right;line-height: 34px">
                    <label>申请人：</label>
                </div>
                <div class="col-md-6" style="padding: 0">
                    <input type="text" class="form-control" autocomplete="off" name="applyPers" >
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col-md-4" style="text-align: right;line-height: 34px">
                    <label>卡类型：</label>
                </div>
                <div class="col-md-6" style="padding: 0">
                    <select class="form-control" name="cardType">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col-md-4" style="text-align: right;line-height: 34px">
                    <label>公司：</label>
                </div>
                <div class="col-md-6" style="padding: 0">
                    <select class="form-control select2" style="width: 100%;" name="comp">
                        <option selected="selected">Alabama</option>
                        <option>Alaska</option>
                        <option disabled="disabled">California (disabled)</option>
                        <option>Delaware</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Washington</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col-md-4" style="text-align: right;line-height: 34px">
                    <label>路段：</label>
                </div>
                <div class="col-md-6" style="padding: 0">
                    <select class="form-control select2" style="width: 100%;" name="road">
                        <option selected="selected">Alabama</option>
                        <option>Alaska</option>
                        <option disabled="disabled">California (disabled)</option>
                        <option>Delaware</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Washington</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col-md-4" style="text-align: right;line-height: 34px">
                    <label>站点：</label>
                </div>
                <div class="col-md-6" style="padding: 0">
                    <select class="form-control select2" style="width: 100%;" name="station">
                        <option selected="selected">Alabama</option>
                        <option>Alaska</option>
                        <option disabled="disabled">California (disabled)</option>
                        <option>Delaware</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Washington</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 form-group " >
                <div class="col-md-2" style="text-align: right;line-height: 34px;padding-left: 0">
                    <label style="padding-right: 6px">申请时间：</label>
                </div>
                <div class="col-md-8 form-group" style="padding: 0">
                    <div class="input-group date col-md-3" style="float: left;">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" style="width: 120px;float: left" name="timeStart" autocomplete="off" id="dateStart" >
                    </div>
                    <span style="float: left;line-height: 34px;padding: 0 10px;">至</span>
                    <div class="input-group date col-md-3" style="float: left;">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" style="width: 120px;float: left" class="form-control"  name="timeEnd" autocomplete="off" id="dateEnd" >
                    </div>

                </div>
            </div>
            <div class="col-md-12 text-center">
                <button id="btnSavePassword" style="width: 180px; height: 42px;" class="btn btn-primary">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
            </div>
        </div>
        <!-- 记录-->
        <div class="table-cont">
            <!--            <h4>申请记录</h4>-->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover" cellspacing="0" cellpadding="0" border="0">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>公司</th>
                        <th>路段</th>
                        <th>站点</th>
                        <th>申请人</th>
                        <th>数量</th>
                        <th>类型</th>
                        <th>申请时间</th>
                        <th>领取时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>sl122533</td>
                        <td>成渝公司</td>
                        <td>某某路段</td>
                        <td>某某站</td>
                        <td>某某人</td>
                        <td>500</td>
                        <td>PSAM卡</td>
                        <td>2019-9-16 15:01</td>
                        <td>2019-9-16 15:01</td>
                    </tr>
                    <tr>
                        <td>sl122533</td>
                        <td>成渝公司</td>
                        <td>某某路段</td>
                        <td>某某站</td>
                        <td>某某人</td>
                        <td>500</td>
                        <td>PSAM卡</td>
                        <td>2019-9-16 15:01</td>
                        <td>2019-9-16 15:01</td>
                    </tr>
                    <tr>
                        <td>sl122533</td>
                        <td>成渝公司</td>
                        <td>某某路段</td>
                        <td>某某站</td>
                        <td>某某人</td>
                        <td>500</td>
                        <td>PSAM卡</td>
                        <td>2019-9-16 15:01</td>
                        <td>2019-9-16 15:01</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</section>

<script>
  $(function() {
    $('.select2').select2();
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : false,
      "pagingType": "full_numbers",
      "oLanguage": {
        "sLengthMenu": "显示 _MENU_ 条记录",
        "sZeroRecords": "没有符合条件的数据,请尝试其他搜索条件",
        "sInfoEmpty": "当前显示 0 到 0 条，共 0 条记录",
        "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
        "sProcessing": "正在加载中...",
        "oPaginate": {
          "sFirst": "第一页",
          "sPrevious": " 上一页 ",
          "sNext": " 下一页 ",
          "sLast": " 最后一页 "
        }
      },
    })

    //Date picker
    $('#dateStart').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      language:'zh',
      endDate: '0d',
      todayHighlight:true
    })
    $('#dateEnd').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      endDate: '0d',
      language:'zh',
      todayHighlight:true
    })



  })
</script>
