<style>
    .table-cont{
        padding: 20px;
    }
    .more{
        cursor: pointer;
        color: #0aa0ff;
    }
    .form-control-feedback{
        right: -35px;
    }
    .child-row{
        text-align: left !important;background-color:#f4f4f4  !important;
    }
    .shown{
        background-color: #f4f4f4  !important;
        border-top: solid 2px white;
    }
    .shown td{
        background-color: #f4f4f4  !important;
        border-top: solid 2px white !important;
    }
    .child-span{
        display: inline-block;
        padding: 0 10px;margin-right: 50px;
    }
    .list-psam{
        padding: 0;
        max-height: 550px;
        overflow: auto;
    }
    .list-psam li{
        display: inline-block;
        width: 48%;
        line-height: 40px;
        text-align: center;
        padding: 5px;
    }
    .list-psam li span{
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border: solid 1px #00c0ef;
        color: #00a7d0;
        font-size: 14px;
        font-weight: bold;
    }
</style>
<section class="content-header">
    <h1>车道&门架运行情况监控</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> 系统监控</a></li>
        <li class="active">{{title}}</li>
    </ol>
    <input type="hidden" value="{{user}}" id="hideUserId">
    <input type="hidden" id="hideSelectedPsam" value="">
    <input type="hidden" id="hideSelectedLength" value="0">
    <input type="hidden" value="{{type}}" id="hideType">
    <input type="hidden" value="{{lever}}" id="hideLevel">
    <input type="hidden" value="{{netnode}}" id="hideNetNode">
</section>
<section class="content">
    <div class="box">
        <div class="tab-pane clearfix" id="resetPwd2" style="padding-top: 50px;">
            {% if lever <= 1 %}
            <div class="form-group col-md-3">
                <div class="col-md-5" style="text-align: right;line-height: 34px">
                    <label>归属公司：</label>
                </div>
                <div class="col-md-7" style="padding: 0">
                    {% if lever < 0 %}
                    <select class="form-control select2" style="width: 100%;" name="comp" id="companycode"></select>
                    {% else %}
                    <input type="text" class="form-control" autocomplete="off" name="samSerialNo" disabled id="companyName" placeholder="" value="{{netNodeName}}" >
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% if lever <= 2 %}
            <div class="form-group col-md-3">
                <div class="col-md-5" style="text-align: right;line-height: 34px">
                    <label>归属路段：</label>
                </div>
                <div class="col-md-7" style="padding: 0">
                    {% if lever < 2 %}
                    <select class="form-control select2" style="width: 100%;" name="comp" id="roadcode"></select>
                    {% else %}
                    <input type="text" class="form-control" autocomplete="off" name="netNodeName" disabled  placeholder="" value="{{netNodeName}}" >
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <div class="form-group col-md-3">
                <div class="col-md-5" style="text-align: right;line-height: 34px">
                    <label>归属站点：</label>
                </div>
                <div class="col-md-7" style="padding: 0">
                    {% if lever < 3 %}
                    <select class="form-control select2" style="width: 100%;" name="comp" id="stationcode"></select>
                    {% else %}
                    <input type="text" class="form-control" autocomplete="off" name="netNodeName" disabled  placeholder="" value="{{netNodeName}}" >
                    {% endif %}
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col-md-5" style="text-align: right;line-height: 34px">
                    <label>车道状态：</label>
                </div>
                <div class="col-md-7" style="padding: 0">
                    <select class="form-control select2" style="width: 100%;" name="comp" id="status">
                        <option value="">请选择状态</option>
                        <option value="GATE_STATUS_NORMAL">正常</option>
                        <option value="GATE_STATUS_SLEEP">休眠</option>
                        <option value="GATE_STATUS_BUZZERR">业务错误</option>
                        <option value="GATE_STATUS_SIGNFAIL">签到失败</option>
                        <option value="GATE_STATUS_APPERR">授权申请错误</option>
                        <option value="GATE_STATUS_CFMERR">授权确认错误</option>
                        <option value="GATE_STATUS_RANGEINV">使用区域超限</option>
                        <option value="GATE_STATUS_ERRAUU">标识授权错误</option>
                        <option value="GATE_STATUS_CARDERR">卡片错误</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button id="btnSearch" style="width: 180px; height: 42px;" class="btn btn-primary ">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
            </div>
        </div>
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">车道</a></li>
                <li><a href="#tab_2" data-toggle="tab">门架</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <!-- 记录-->
                    <div class="table-cont" style="padding: 0">
                        <!--            <h4>申请记录</h4>-->
                        <div class="box-body">
                            <table id="exampleIC" class="table table-bordered table-hover" cellspacing="0" cellpadding="0" border="0"></table>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <!-- 记录-->
                    <div class="table-cont" style="padding: 0">
                        <!--            <h4>申请记录</h4>-->
                        <div class="box-body">
                            <table id="exampleG" class="table table-bordered table-hover" cellspacing="0" cellpadding="0" border="0"></table>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->

    </div>
    </div>
</section>

<script>
  $(function() {
    $('#status').select2({
      placeholder:'请选择状态',
      allowClear : true,
    });
    const parentcode = $("#hideNetNode").val();
    switch ($("#hideLevel").val()) {
      case '1':
        getslect(2,parentcode);
        setTimeout(function() {
          getslect(3);
        },0)
        break;
      case '2':
        $('#roadcode').attr("disabled","disabled");
        getslect(3,parentcode);
        break;
      case '3':
        $('#stationcode').attr("disabled","disabled");
        break;
      default:
        getslect(1);
        setTimeout(function() {
          getslect(2);
        },100)
        setTimeout(function() {
          getslect(3);
        },300)
        break;
    }
    //下拉框

    function getslect(level,parent){
      var placholder = '';
      var searchLevel = '';
      var dom = '';
      switch (level) {
        case 1:
          placholder = '请选择公司';
          searchLevel = 'NETNODE_LEVEL_1';
          dom = $("#companycode")
          break;
        case 2:
          placholder = '请选择路段';
          searchLevel = 'NETNODE_LEVEL_2';
          dom = $("#roadcode");
          break;
        case 3:
          placholder = '请选择收费站';
          searchLevel = 'NETNODE_LEVEL_3';
          dom = $("#stationcode");
          break;
      }
      function getNetNode() {
        $.ajax({
          type: 'POST',
          url: "/publish/netListCompany",
          data: {
            page:0,
            pageSize:1000,
            level:searchLevel,
            parentId:parent,
          },
          dataType: "json",
          success: function (data) {
            if (!data.result)
              return;
            dom.empty();
            var html = '';
            html += '<option value="">'+placholder+'</option>';
            $.each(data.data.data, function (commentIndex, comment) {
              html += '<option   value="' + comment.netNodeCode + '"  ' + '>' + comment.nodeName + '</option>';
            });
            dom.html(html);
            dom.select2({
              placeholder:placholder,
              allowClear : true,
            });
          }
        });
      }
      getNetNode();
    }
    selectInit();
    function selectInit() {
      $("#companycode").change(function() {
        $.ajax({
          type: 'POST',
          url: "/publish/netListCompany",
          data: {
            page:0,
            pageSize:1000,
            parentId:$('#companycode').val(),
          },
          dataType: "json",
          success: function (data) {
            if (!data.result)
              return;
            $('#roadcode').empty();   //清空resText里面的所有内容

            var html = '';
            html += '<option value="">请选择路段</option>';
            $.each(data.data.data, function (commentIndex, comment) {
              html += '<option   value="' + comment.netNodeCode + '"  ' + '>' + comment.nodeName + '</option>';
            });
            $('#roadcode').html(html);
            $('#roadcode').select2({
              placeholder:'请选择路段',
              allowClear : true,
            });
          }
        });
      })
      $("#roadcode").change(function() {
        $.ajax({
          type: 'POST',
          url: "/publish/netListCompany",
          data: {
            page:0,
            pageSize:1000,
            parentId:$('#roadcode').val(),
          },
          dataType: "json",
          success: function (data) {
            if (!data.result)
              return;
            $('#stationcode').empty();   //清空resText里面的所有内容

            var html = '';
            html += '<option value="">请选择站点</option>';
            $.each(data.data.data, function (commentIndex, comment) {
              html += '<option   value="' + comment.netNodeCode + '"  ' + '>' + comment.nodeName + '</option>';
            });
            $('#stationcode').html(html);
            $('#stationcode').select2({
              placeholder:'请选择站点',
              allowClear : true,
            });
          }
        });
      })
    }

    //表格
    if ($('#exampleIC')) {
      const hideNetNode = $("#hideNetNode").val();
      var pagesize = 10;
      var settings = {
        "destroy": true,
        "serverSide": true,
        "ajax": {
          url: '/monitor/queryChanel24hInfo',
          data: {
            // applyuser: 1, //0查询当前用户的记录，1查询所有人
            // level:'NETNODE_LEVEL_1'
            // status: $("#status").val(),
          },
        },
        "columns": [
          {"data": "companyName", "title": "公司"},
          {"data": "roadName", "title": "路段"},
          {"data": "stationName", "title": "收费站"},
          {"data": "chanelId", "title": "车道ID"},
          {"data": "chanelId", "title": "类型"},
          {"data": "samSerialNo", "title": "PSAM"},
          {"data": "status", "title": "状态"},
          {"data": "installTime", "title": "注册时间"},
          {"data": "lastAuthTime", "title": "最近授权"},
          {"data": "lastSignTime", "title": "最近签到"}],
        "paging": true,
        "lengthChange": true,
        "searching": false,
        "ordering": false,
        "info": true,
        "autoWidth": false,
        "processing": true,
        "pageLength": pagesize,
        "oLanguage": {
          "sLengthMenu" : "显示 _MENU_ 项结果",
          "sZeroRecords": "没有符合条件的数据,请尝试其他搜索条件",
          "sInfoEmpty": "当前显示 0 到 0 条，共 0 条记录",
          "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
          "sProcessing": "正在加载中...",
          "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": " 上一页 ",
            "sNext": " 下一页 ",
            "sLast": " 最后一页 "
          }
        },
        "createdRow": function (row, data, index) {
          $('td', row).eq(4).html('车道');
          if(data.installTime!=''){
            $('td', row).eq(7).html(''+data.installTime.replace(/^(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})$/, "$1-$2-$3 $4:$5:$6")+'');
          }
          if (data.lastAuthTime!=''){
            $('td', row).eq(8).html(''+data.lastAuthTime.replace(/^(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})$/, "$1-$2-$3 $4:$5:$6")+'');
          }
          if(data.lastSignTime!=''){
            $('td', row).eq(9).html(''+data.lastSignTime.replace(/^(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})$/, "$1-$2-$3 $4:$5:$6")+'');
          }
          var welldata = JSON.stringify(data);
          switch (data.status) {
            case 'NORMAL':
              $('td', row).eq(6).html('<span class="text-green">正常</span>');
              break;
            case 'SLEEP':
              $('td', row).eq(6).html('<span class="text-aqua">休眠</span>');
              break;
            case 'BUZZERR':
              $('td', row).eq(6).html('<span class="text-red">业务错误</span>');
              break;
            case 'SIGNERR':
              $('td', row).eq(6).html('<span class="text-red">签到失败</span>');
              break;
            case 'APPERR':
              $('td', row).eq(6).html('<span class="text-yellow">授权申请错误</span>');
              break;
            case 'CFMERR':
              $('td', row).eq(6).html('<span class="text-yellow">授权确认错误</span>');
              break;
            case 'CARDERR':
              $('td', row).eq(6).html('<span class="text-yellow">卡片错误</span>');
              break;
            case 'RANGEINV':
              $('td', row).eq(6).html('<span class="text-yellow">使用区域超限</span>');
              break;
            case 'ERRAUU  ':
              $('td', row).eq(6).html('<span class="text-yellow">标识授权错误</span>');
              break;
            default:
              $('td', row).eq(6).html('<span class="text-red">未知状态（'+data.status+'）</span>');
              break;
          }

        },
        "drawCallback": function (settings, json) {

        }
      };
      netTableC = $('#exampleIC').DataTable(settings);

    }
    if ($('#exampleG')) {
      const hideNetNode = $("#hideNetNode").val();
      var pagesize = 10;
      var settings = {
        "destroy": true,
        "serverSide": true,
        "ajax": {
          url: '/monitor/queryGate24hInfo',
          data: {
            // applyuser: 1, //0查询当前用户的记录，1查询所有人
            // level:'NETNODE_LEVEL_1'
            // status: $("#status").val(),
          },
        },
        "columns": [
          {"data": "companyName", "title": "公司"},
          {"data": "roadName", "title": "路段"},
          {"data": "stationName", "title": "收费站"},
          {"data": "gateLane", "title": "门架编码"},
          {"data": "gateName", "title": "类型"},
          {"data": "samSerialNo", "title": "PSAM"},
          {"data": "status", "title": "状态"},
          {"data": "installTime", "title": "注册时间"},
          {"data": "lastAuthTime", "title": "最近授权"},
          {"data": "lastSignTime", "title": "最近签到"}],
        "paging": true,
        "lengthChange": true,
        "searching": false,
        "ordering": false,
        "info": true,
        "autoWidth": false,
        "processing": true,
        "pageLength": pagesize,
        "oLanguage": {
          "sLengthMenu" : "显示 _MENU_ 项结果",
          "sZeroRecords": "没有符合条件的数据,请尝试其他搜索条件",
          "sInfoEmpty": "当前显示 0 到 0 条，共 0 条记录",
          "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
          "sProcessing": "正在加载中...",
          "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": " 上一页 ",
            "sNext": " 下一页 ",
            "sLast": " 最后一页 "
          }
        },
        "createdRow": function (row, data, index) {
          $('td', row).eq(4).html('门架');
          if(data.installTime!=''){
            $('td', row).eq(7).html(''+data.installTime.replace(/^(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})$/, "$1-$2-$3 $4:$5:$6")+'');
          }
          if (data.lastAuthTime!=''){
            $('td', row).eq(8).html(''+data.lastAuthTime.replace(/^(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})$/, "$1-$2-$3 $4:$5:$6")+'');
          }
          if(data.lastSignTime!=''){
            $('td', row).eq(9).html(''+data.lastSignTime.replace(/^(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})$/, "$1-$2-$3 $4:$5:$6")+'');
          }
          var welldata = JSON.stringify(data);
          switch (data.status) {
            case 'NORMAL':
              $('td', row).eq(6).html('<span class="text-green">正常</span>');
              break;
            case 'SLEEP':
              $('td', row).eq(6).html('<span class="text-aqua">休眠</span>');
              break;
            case 'BUZZERR':
              $('td', row).eq(6).html('<span class="text-red">业务错误</span>');
              break;
            case 'SIGNERR':
              $('td', row).eq(6).html('<span class="text-red">签到失败</span>');
              break;
            case 'APPERR':
              $('td', row).eq(6).html('<span class="text-yellow">授权申请错误</span>');
              break;
            case 'CFMERR':
              $('td', row).eq(6).html('<span class="text-yellow">授权确认错误</span>');
              break;
            case 'CARDERR':
              $('td', row).eq(6).html('<span class="text-yellow">卡片错误</span>');
              break;
            case 'RANGEINV':
              $('td', row).eq(6).html('<span class="text-yellow">使用区域超限</span>');
              break;
            case 'ERRAUU  ':
              $('td', row).eq(6).html('<span class="text-yellow">标识授权错误</span>');
              break;
            default:
              $('td', row).eq(6).html('<span class="text-red">未知状态（'+data.status+'）</span>');
              break;
          }

        },
        "drawCallback": function (settings, json) {

        }
      };
      netTableG = $('#exampleG').DataTable(settings);

    }

    //  查询
    $("#btnSearch").click(function() {
      search();
    })
    function search() {
      netTableC.clear();
      netTableC.ajax.url("/monitor/queryChanel24hInfo?" +"&companyCode="+$("#companycode").val()+"&roadCode="+$("#roadcode").val()+"&stationCode="+$("#stationcode").val()+"&status="+$("#status").val()).load();
      netTableG.clear();
      netTableG.ajax.url("/monitor/queryGate24hInfo?" +"&companyCode="+$("#companycode").val()+"&roadCode="+$("#roadcode").val()+"&stationCode="+$("#stationcode").val()+"&status="+$("#status").val()).load();
    }



  })
</script>
