<style>
    .table-cont{
        padding: 20px;
    }
    .more{
        cursor: pointer;
        color: #0aa0ff;
    }
    .form-control-feedback{
        right: -35px;
    }
    .child-row{
        text-align: left !important;background-color:#f4f4f4  !important;
    }
    .shown{
        background-color: #f4f4f4  !important;
        border-top: solid 2px white;
    }
    .shown td{
        background-color: #f4f4f4  !important;
        border-top: solid 2px white !important;
    }
    .child-span{
        display: inline-block;
        padding: 0 10px;margin-right: 50px;
    }
</style>
<section class="content-header">
    <h1>发行明细</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> 报表明细</a></li>
        <li class="active">{{title}}</li>
    </ol>
    <input type="hidden" value="{{user}}" id="hideUserId">
</section>
<section class="content">
    <div class="box">
        <!-- 申请-->
        <div class="tab-pane clearfix" id="resetPwd" style="padding-top: 50px;">
            <div class="col-md-3 form-group " >
                <div class="col-md-5" style="text-align: right;line-height: 34px">
                    <label>申请网点：</label>
                </div>
                <div class="col-md-7" style="padding: 0">
                    <input type="text" class="form-control" autocomplete="off" name="samSerialNo" id="samSerialNo" placeholder="请输入关键字查询网点" >
                </div>
            </div>
            <div class="col-md-3 form-group " >
                <div class="col-md-5" style="text-align: right;line-height: 34px">
                    <label>发行人：</label>
                </div>
                <div class="col-md-7" style="padding: 0">
                    <input type="text" class="form-control" autocomplete="off" name="issuePersen" id="issuePersen" placeholder="请输入发行人查询" >
                </div>
            </div>
            <div class="col-md-3 form-group " >
                <div class="col-md-5" style="text-align: right;line-height: 34px">
                    <label>发行批次：</label>
                </div>
                <div class="col-md-7" style="padding: 0">
                    <input type="text" class="form-control" autocomplete="off" name="issueBatch" id="issueBatch" placeholder="请输入发行批次查询" >
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button id="btnSearch" style="width: 180px; height: 42px;" class="btn btn-primary">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
            </div>
        </div>
        <!-- 记录-->
        <div class="table-cont" style="padding: 0">
            <!--            <h4>申请记录</h4>-->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover" cellspacing="0" cellpadding="0" border="0"></table>
            </div>
        </div>
    </div>
    </div>
</section>


<script>
  $(function() {
    //下拉框
    selectInit()
    function selectInit(){
      $('#netNodeCode').select2({
        placeholder: "请输入网点关键字进行搜索",
        language : {
          inputTooShort: function () {
            return "请至少输入两个中文关键字";
          }
        },
        allowClear: true,
        ajax: {
          type: 'POST',
          delay : 800,// 延迟显示
          url: '/systeam/netQueryName',
          data: function (params) {
            var query = {
              search: params.term,
              page: params.page || 1
            }
            return query;
          },
          processResults: function (data) {
            // Transforms the top-level key of the response object from 'items' to 'results'
            const results = [];
            $.each(data.data.data, function (commentIndex, comment) {
              results.push({id:comment.netNodeCode,text:comment.nodeName})
            });
            return {
              results: results
            };
          }
        },
        minimumInputLength : 1,// 最少输入一个字符才开始检索
      });
    }

    //表格
    if ($('#example2')) {
      var pagesize = 10;
      var settings = {
        "destroy": true,
        "serverSide": true,
        "ajax": {
          url: '/detail/queryPsamCard',
          data: {
            // applyuser: 1, //0查询当前用户的记录，1查询所有人
            // level:'NETNODE_LEVEL_1'
            // status: $("#status").val(),
          },
        },
        "columnDefs": [
          { "width": "2%", "targets": 0 }
        ],
        "columns": [
          {"data": "samSerialNo", "title": "卡号"},
          // {"data": "samTerminalNo", "title": "终端号"},
          {"data": "importBatch", "title": "入仓批次"},
          {"data": "issueBatch", "title": "发行批次"},
          {"data": "netNodeName", "title": "责任网点"},
          {"data": "bindChanelCode", "title": "车道"},
          {"data": "respoPerson", "title": "责任人"},
          {"data": "status", "title": "状态"},
          {"data": "authStatus", "title": "授权状态"},
          {"data": "samSerialNo", "title": "操作"}],
        "paging": true,
        "lengthChange": true,
        "searching": false,
        "ordering": false,
        "info": true,
        "autoWidth": false,
        "processing": true,
        "pageLength": pagesize,
        "oLanguage": {
          "sLengthMenu" : "显示 _MENU_ 项结果",
          "sZeroRecords": "没有符合条件的数据,请尝试其他搜索条件",
          "sInfoEmpty": "当前显示 0 到 0 条，共 0 条记录",
          "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
          "sProcessing": "正在加载中...",
          "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": " 上一页 ",
            "sNext": " 下一页 ",
            "sLast": " 最后一页 "
          }
        },
        "createdRow": function (row, data, index) {
          var welldata = JSON.stringify(data);
          switch (data.status) {
            case 'IMP':
              $('td', row).eq(6).html('入库');
              $('td', row).eq(8).html("<a name='detail' style='cursor: pointer' class='text-yellow'>查看更多</a><input type='hidden' value='"+welldata+"' >");
              break;
            case 'ISSUEING':
              $('td', row).eq(6).html('<span class="text-green">发行中</span>');
              $('td', row).eq(8).html("<a name='detail' style='cursor: pointer' class='text-yellow'>查看更多</a><input type='hidden' value='"+welldata+"' >");
              break;
            case 'ISSUED':
              $('td', row).eq(6).html('<span class="text-red">发行完成</span>');
              $('td', row).eq(8).html("<a name='detail' style='cursor: pointer' class='text-yellow'>查看更多</a><input type='hidden' value='"+welldata+"' >" +
                "<a class='btn btn-sm btn-danger' name='destory'>销毁</a><a class='btn btn-sm btn-warning' name='reco'>回收</a>");
              break;
            case 'RECV':
              $('td', row).eq(6).html('<span class="text-red">领用</span>');
              $('td', row).eq(8).html("<a name='detail' style='cursor: pointer' class='text-yellow'>查看更多</a><input type='hidden' value='"+welldata+"' >");
              break;
            case 'BIND':
              $('td', row).eq(6).html('<span class="text-aqua">绑定</span>');
              $('td', row).eq(8).html("<a name='detail' style='cursor: pointer' class='text-yellow'>查看更多</a><input type='hidden' value='"+welldata+"' >");
              break;
            case 'INUSED':
              $('td', row).eq(6).html('<span class="text-green">使用中</span>');
              $('td', row).eq(8).html("<a name='detail' style='cursor: pointer' class='text-yellow'>查看更多</a><input type='hidden' value='"+welldata+"' >" +
                "<a class='btn btn-sm btn-danger' name='stop'>停用</a>");
              break;
            case 'STOP':
              $('td', row).eq(6).html('<span class="text-green">停用</span>');
              $('td', row).eq(8).html("<a name='detail' style='cursor: pointer' class='text-yellow'>查看更多</a><input type='hidden' value='"+welldata+"' >" +
                "<a class='btn btn-sm btn-danger' name='destory'>销毁</a><a class='btn btn-sm btn-warning' name='reco'>回收</a>");
              break;
            case 'RECOVERY':
              $('td', row).eq(6).html('<span class="text-red">已回收</span>');
              $('td', row).eq(8).html("<a name='detail' style='cursor: pointer' class='text-yellow'>查看更多</a><input type='hidden' value='"+welldata+"' >");
              break;
            case 'EXCEPT':
              $('td', row).eq(6).html('<span class="text-red">异常</span>');
              $('td', row).eq(8).html("<a name='detail' style='cursor: pointer' class='text-yellow'>查看更多</a><input type='hidden' value='"+welldata+"' >" +
                "<a class='btn btn-sm btn-danger' name='destory'>销毁</a><a class='btn btn-sm btn-warning' name='reco'>回收</a>");
              break;
            case 'DESTORY':
              $('td', row).eq(6).html('<span class="text-red">已销毁</span>');
              $('td', row).eq(8).html("<a name='detail' style='cursor: pointer' class='text-yellow'>查看更多</a><input type='hidden' value='"+welldata+"' >");
              break;
          }

        },
        "drawCallback": function (settings, json) {
          $('input[name="taskAll"]').click(checkAll);
          $('a[name="detail"]').click(showdetail);
        }
      };
      netTable = $('#example2').DataTable(settings);

    }

    //  查询
    $("#btnSearch").click(function() {
      netTable.ajax.url("/detail/queryPsamCard?" +"&companyCode="+$("#companycode").val()+"&roadCode="+$("#roadcode").val()+"&stationCode="+$("#stationcode").val()
        +"&wareId="+$("#wareType").val()+"&status="+$("#status").val()+"&samSerialNo="+$("#samSerialNo").val()+"&importBatch="+$("#importBatch").val()+"&issueBatch="+$("#issueBatch").val()).load();
    })

  })
</script>
