<style>
    .table-cont{
        padding: 20px;
    }
    .more{
        cursor: pointer;
        color: #0aa0ff;
    }
    .form-control-feedback{
        right: -35px;
    }
    .child-row{
        text-align: left !important;background-color:#f4f4f4  !important;
    }
    .shown{
        background-color: #f4f4f4  !important;
        border-top: solid 2px white;
    }
    .shown td{
        background-color: #f4f4f4  !important;
        border-top: solid 2px white !important;
    }
    .child-span{
        display: inline-block;
        padding: 0 10px;margin-right: 50px;
    }
    .list-psam{
        padding: 0;
        max-height: 550px;
        overflow: auto;
    }
    .list-psam li{
        display: inline-block;
        width: 48%;
        line-height: 40px;
        text-align: center;
        padding: 5px;
    }
    .list-psam li span{
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border: solid 1px #00c0ef;
        color: #00a7d0;
        font-size: 14px;
        font-weight: bold;
    }
</style>
<section class="content-header">
    <h1>PSAM签到&授权统计</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> 系统监控</a></li>
        <li class="active">{{title}}</li>
    </ol>
    <input type="hidden" value="{{user}}" id="hideUserId">
    <input type="hidden" id="hideSelectedPsam" value="">
    <input type="hidden" id="hideSelectedLength" value="0">
    <input type="hidden" value="{{type}}" id="hideType">
    <input type="hidden" value="{{lever}}" id="hideLevel">
    <input type="hidden" value="{{netnode}}" id="hideNetNode">
</section>
<section class="content">
    <div class="box">
        <div class="tab-pane clearfix" id="resetPwd2" style="padding-top: 50px;">
            <div class="form-group col-md-3">
                <div class="col-md-5" style="text-align: right;line-height: 34px">
                    <label>PSAM卡号：</label>
                </div>
                <div class="col-md-7" style="padding: 0">
                    <input type="text" class="form-control" style="width: 100%;" name="samSerialNo" autocomplete="off" id="samSerialNo" placeholder="请输入psam卡号查询" >
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col-md-5" style="text-align: right;line-height: 34px">
                    <label>归属公司：</label>
                </div>
                <div class="col-md-7" style="padding: 0">
                    <select class="form-control select2" style="width: 100%;" name="comp" id="companycode"></select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col-md-5" style="text-align: right;line-height: 34px">
                    <label>归属路段：</label>
                </div>
                <div class="col-md-7" style="padding: 0">
                    <select class="form-control select2" style="width: 100%;" name="comp" id="roadcode"></select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="col-md-5" style="text-align: right;line-height: 34px">
                    <label>归属站点：</label>
                </div>
                <div class="col-md-7" style="padding: 0">
                    <select class="form-control select2" style="width: 100%;" name="comp" id="stationcode"></select>
                </div>
            </div>
            <div class="form-group col-md-5">
                <div class="col-md-3" style="text-align: right;line-height: 34px">
                    <label>时间范围：</label>
                </div>
                <div class="col-md-9" style="padding: 0">
                    <div class="input-group date col-md-3" style="float: left;">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" style="width: 120px;float: left" name="timeStart" autocomplete="off" id="dateStart" placeholder="起始时间">
                    </div>
                    <span style="float: left;line-height: 34px;padding: 0 10px;">至</span>
                    <div class="input-group date col-md-3" style="float: left;">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" style="width: 120px;float: left" class="form-control"  name="timeEnd" autocomplete="off" id="dateEnd" placeholder="截止时间">
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button id="btnSearch" style="width: 180px; height: 42px;" class="btn btn-primary ">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
            </div>
        </div>
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">车道</a></li>
                <li><a href="#tab_2" data-toggle="tab">门架</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <!-- 记录-->
                    <div class="table-cont" style="padding: 0">
                        <!--            <h4>申请记录</h4>-->
                        <div class="box-body">
                            <table id="exampleIC" class="table table-bordered table-hover" cellspacing="0" cellpadding="0" border="0"></table>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <!-- 记录-->
                    <div class="table-cont" style="padding: 0">
                        <!--            <h4>申请记录</h4>-->
                        <div class="box-body">
                            <table id="exampleG" class="table table-bordered table-hover" cellspacing="0" cellpadding="0" border="0"></table>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->

    </div>
    </div>
</section>

<script>
  $(function() {
    $('#dateStart').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      language:'zh',
      endDate: '0d',
      todayHighlight:true,
      clearBtn:true
    }).on('changeDate',function(e){
      var startTime = e.date;
      // $('#dateEnd').datepicker('setStartDate',startTime);
      // var day = e.getMonth();
      let lastDay = new Date(startTime.getFullYear(), startTime.getMonth() + 1, 0);
      let firstDay = new Date(startTime.getFullYear(), startTime.getMonth() , 1);
      let today = new Date();
      let todayLast = new Date(today.getFullYear(), today.getMonth() + 1, 0);
      let todayFirst = new Date(today.getFullYear(), today.getMonth() , 1);
      if(firstDay.getTime()<todayFirst.getTime()||lastDay.getTime()>todayLast.getTime()){
        $('#dateEnd').datepicker('setStartDate',startTime);
        $('#dateEnd').datepicker('setEndDate',lastDay);
      }else {
        //当月
        $('#dateEnd').datepicker('setStartDate',startTime);
        $('#dateEnd').datepicker('setEndDate','0d');
      }

    });
    $('#dateEnd').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      endDate: '0d',
      language:'zh',
      todayHighlight:true,
      clearBtn:true
    }).on('changeDate',function(e){
      var endTime = e.date;
      $('#dateStart').datepicker('setEndDate',endTime);
    });
    // $('#dateTime').daterangepicker({
    //   format: 'yyyy-mm-dd',
    //   autoclose: true,
    //   endDate: '0d',
    //   language:'zh',
    //   todayHighlight:true
    // })
    const parentcode = $("#hideNetNode").val();
    getslect(1);
    setTimeout(function() {
      getslect(2);
    },100)
    setTimeout(function() {
      getslect(3);
    },300)
    //下拉框

    function getslect(level,parent){
      var placholder = '';
      var searchLevel = '';
      var dom = '';
      switch (level) {
        case 1:
          placholder = '请选择公司';
          searchLevel = 'NETNODE_LEVEL_1';
          dom = $("#companycode")
          break;
        case 2:
          placholder = '请选择路段';
          searchLevel = 'NETNODE_LEVEL_2';
          dom = $("#roadcode");
          break;
        case 3:
          placholder = '请选择收费站';
          searchLevel = 'NETNODE_LEVEL_3';
          dom = $("#stationcode");
          break;
      }
      function getNetNode() {
        $.ajax({
          type: 'POST',
          url: "/publish/netListCompany",
          data: {
            page:0,
            pageSize:1000,
            level:searchLevel,
            parentId:parent,
          },
          dataType: "json",
          success: function (data) {
            if (!data.result)
              return;
            dom.empty();
            var html = '';
            html += '<option value="">'+placholder+'</option>';
            $.each(data.data.data, function (commentIndex, comment) {
              html += '<option   value="' + comment.netNodeCode + '"  ' + '>' + comment.nodeName + '</option>';
            });
            dom.html(html);
            dom.select2({
              placeholder:placholder,
              allowClear : true,
            });
          }
        });
      }
      getNetNode();
    }
    selectInit();
    function selectInit() {
      $("#companycode").change(function() {
        $.ajax({
          type: 'POST',
          url: "/publish/netListCompany",
          data: {
            page:0,
            pageSize:1000,
            parentId:$('#companycode').val(),
          },
          dataType: "json",
          success: function (data) {
            if (!data.result)
              return;
            $('#roadcode').empty();   //清空resText里面的所有内容

            var html = '';
            html += '<option value="">请选择路段</option>';
            $.each(data.data.data, function (commentIndex, comment) {
              html += '<option   value="' + comment.netNodeCode + '"  ' + '>' + comment.nodeName + '</option>';
            });
            $('#roadcode').html(html);
            $('#roadcode').select2({
              placeholder:'请选择路段',
              allowClear : true,
            });
          }
        });
      })
      $("#roadcode").change(function() {
        $.ajax({
          type: 'POST',
          url: "/publish/netListCompany",
          data: {
            page:0,
            pageSize:1000,
            parentId:$('#roadcode').val(),
          },
          dataType: "json",
          success: function (data) {
            if (!data.result)
              return;
            $('#stationcode').empty();   //清空resText里面的所有内容

            var html = '';
            html += '<option value="">请选择站点</option>';
            $.each(data.data.data, function (commentIndex, comment) {
              html += '<option   value="' + comment.netNodeCode + '"  ' + '>' + comment.nodeName + '</option>';
            });
            $('#stationcode').html(html);
            $('#stationcode').select2({
              placeholder:'请选择站点',
              allowClear : true,
            });
          }
        });
      })
    }

    //表格
    if ($('#exampleIC')) {
      const hideNetNode = $("#hideNetNode").val();
      var pagesize = 10;
      var settings = {
        "destroy": true,
        "serverSide": true,
        "ajax": {
          url: '/monitor/queryMaxIpPsamCardChnl',
          data: {
            // applyuser: 1, //0查询当前用户的记录，1查询所有人
            // level:'NETNODE_LEVEL_1'
            // status: $("#status").val(),
          },
        },
        "columns": [
          {"data": "samSerialNo", "title": "PSAM卡号"},
          {"data": "companyName", "title": "公司"},
          {"data": "roadName", "title": "路段"},
          {"data": "stationName", "title": "收费站"},
          {"data": "samSerialNo", "title": "类型"},
          {"data": "authAppCnt", "title": "授权次数"},
          {"data": "authCfmCnt", "title": "授权成功次数"},
          {"data": "signCnt", "title": "签到次数"}],
        "paging": true,
        "lengthChange": true,
        "searching": false,
        "ordering": false,
        "info": true,
        "autoWidth": false,
        "processing": true,
        "pageLength": pagesize,
        "oLanguage": {
          "sLengthMenu" : "显示 _MENU_ 项结果",
          "sZeroRecords": "没有符合条件的数据,请尝试其他搜索条件",
          "sInfoEmpty": "当前显示 0 到 0 条，共 0 条记录",
          "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
          "sProcessing": "正在加载中...",
          "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": " 上一页 ",
            "sNext": " 下一页 ",
            "sLast": " 最后一页 "
          }
        },
        "createdRow": function (row, data, index) {
          $('td', row).eq(4).html('车道');
        },
        "drawCallback": function (settings, json) {

        }
      };
      netTableC = $('#exampleIC').DataTable(settings);

    }
    if ($('#exampleG')) {
      const hideNetNode = $("#hideNetNode").val();
      var pagesize = 10;
      var settings = {
        "destroy": true,
        "serverSide": true,
        "ajax": {
          url: '/monitor/queryMaxIpPsamCardGate',
          data: {
            // applyuser: 1, //0查询当前用户的记录，1查询所有人
            // level:'NETNODE_LEVEL_1'
            // status: $("#status").val(),
          },
        },
        "columns": [
          {"data": "samSerialNo", "title": "PSAM卡号"},
          {"data": "roadName", "title": "路段"},
          {"data": "gateName", "title": "门架名称"},
          {"data": "samSerialNo", "title": "类型"},
          {"data": "authAppCnt", "title": "授权次数"},
          {"data": "authCfmCnt", "title": "授权成功次数"},
          {"data": "signCnt", "title": "签到次数"}],
        "paging": true,
        "lengthChange": true,
        "searching": false,
        "ordering": false,
        "info": true,
        "autoWidth": false,
        "processing": true,
        "pageLength": pagesize,
        "oLanguage": {
          "sLengthMenu" : "显示 _MENU_ 项结果",
          "sZeroRecords": "没有符合条件的数据,请尝试其他搜索条件",
          "sInfoEmpty": "当前显示 0 到 0 条，共 0 条记录",
          "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
          "sProcessing": "正在加载中...",
          "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": " 上一页 ",
            "sNext": " 下一页 ",
            "sLast": " 最后一页 "
          }
        },
        "createdRow": function (row, data, index) {
          $('td', row).eq(3).html('门架');
        },
        "drawCallback": function (settings, json) {

        }
      };
      netTableG = $('#exampleG').DataTable(settings);

    }

    //  查询
    $("#btnSearch").click(function() {
      search();
      let startTime = new Date($("#dateStart").val().replace(/-/g, "/"));
      let endTime = new Date($("#dateEnd").val().replace(/-/g, "/"));
      let lastDay = new Date(startTime.getFullYear(), startTime.getMonth() + 1, 0);
      let firstDay = new Date(startTime.getFullYear(), startTime.getMonth() , 1);
      let endLast = new Date(endTime.getFullYear(), endTime.getMonth() + 1, 0);
      let endFirst = new Date(endTime.getFullYear(), endTime.getMonth() , 1);
      if(firstDay.getTime()<endFirst.getTime()||lastDay.getTime()>endLast.getTime()){
        swal({
          title:'系统提示',
          text:'请检查日期范围，不支持跨月查询',
          icon:'error',
          button:false
        });
        return;
      }
    })
    function search() {
      netTableC.clear();
      netTableC.ajax.url("/monitor/queryMaxIpPsamCardChnl?" +"&companyCode="+$("#companycode").val()+"&samSerialNo="+$("#samSerialNo").val()+
        "&roadCode="+$("#roadcode").val()+"&stationCode="+$("#stationcode").val()+"&dateStart="+$("#dateStart").val()+"&dateEnd="+$("#dateEnd").val()).load();
      netTableG.clear();
      netTableG.ajax.url("/monitor/queryMaxIpPsamCardGate?" +"&companyCode="+$("#companycode").val()+"&samSerialNo="+$("#samSerialNo").val()+
        "&roadCode="+$("#roadcode").val()+"&stationCode="+$("#stationcode").val()+"&dateStart="+$("#dateStart").val()+"&dateEnd="+$("#dateEnd").val()).load();
    }



  })
</script>
